.navbar{
    position: fixed;
    z-index: 2;
    width: 100vw;
}
.navbar a.active{
    color: black;
    font-weight: bold;
    text-decoration: underline;
}
.backbtn{
    height: 30px;
    width: 30px;
    position: relative;
    top:8px;
    left:8px;
}
.backbtn:hover{
    cursor: pointer;
}
.showbackbtn{
    display: inline;
}
.hidebackbtn{
    display: none;
}