  /*Stling for header (Filtered Results Heading)*/
  .results-header{
    /* height: 50px; */
    font-size: 1.5rem;
    font-weight: bold;
    background-color: lightblue;
    padding-left: 20px;
  }

  /*Styling for footer (Pagination)*/
  .pagination-container {
    margin-top: 5px;
    margin-bottom: 40px;
  }

  .showpageno {
    font-weight: bold;
  }

  .allpagebtns-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
  }

  .previous-btn,
  .next-btn {
    font-size: 1vw;
    font-weight: bold;
    height: fit-content;
    width: fit-content;
    background-color: rgb(126, 206, 126);
    padding: 5px;
    border-radius: 5px;
  }

  .hide-previous-btn,
  .hide-next-btn {
    visibility: hidden;
  }

  .allnumberspage-container {
    display: flex;
    gap: 2.5px;
  }

  .numberpage-item {
    width: 2.3vw;
    height: 5vh;
    font-size: 1.1vw;
    border: 1px solid black;
    border-radius: 50%;
    background-color: white;
    font-weight: bold;
  }

  .activepage {
    background-color: black;
    color: white;
    font-weight: bold;
  }

  .previous-btn:hover,
  .next-btn:hover {
    background-color: rgb(121, 239, 121);
    color: rgb(61, 58, 58);
  }



  /*Media Queries for max-width:600px*/
  @media (max-width:600px) {

    .results-header{
      font-size: 1.3rem;
    }

    .previous-btn,
    .next-btn {
      font-size: 3.2vw;
    }

    .numberpage-item {
      width: 5.5vw;
      height: 5.5vw;
      font-size: 3.5vw;
    }

  }