.agefilter-container {
    background-color: white;
}
.agefilter-header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    cursor: pointer
}
.arrow-down{
    transform: rotate(90deg) scaleY(1.5);
    font-weight: bold
}
.arrow-up{
    transform: rotate(-90deg) scaleY(1.5);
    font-weight: bold;
    margin-right: 7px;
    margin-top: 5px;
}
ul label{
    display: flex;
    width: 100%;
    align-items: center;
    gap: 10px;
    margin-left: 10px;
    cursor: pointer
}