
.singleplayer-container{
    padding: 10px;
    margin-top: 70px;
    display: flex;
    justify-content: center;
    gap: 20px;
    position: relative;
}
.singleplayer-leftpart .imagecontainer{
    display: flex;
    flex-direction: column;
    width: 250px;
    background-color: black;
    color: white;
    text-align: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    font-family: sans-serif;
    padding: 10px;
}
.imagecontainer img{
    width: 100%;
    filter: drop-shadow(0px 0px 10px white);
}

.imagecontainer span:first-child{
    font-size: 25px;
    text-decoration: underline;
}
.imagecontainer span:last-child{
    padding-top: 20px;
}
.recommended-players{
    margin-top: 100px;
   border-radius: 20px;
    width: 250px;
    background-color: gray;
    color: white;
    padding-bottom: 10px;
}
.recommended-players p{
    text-align: center;
    font-size: 18px;
    font-family: sans-serif;
    padding: 10px 0px;
    background-color: rgb(134, 195, 249);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    font-weight: 600;
    letter-spacing: 0.3px;
    word-spacing: 2px;
}
.recommended-player-container{
    margin-top: 10px;
}
.recommended-player{
    width: 100%;
    display: flex;
    /* background-color: gray; */
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 5px;
}
.recommended-player img{
    width: 40px;
    border:1px solid;
    border-radius: 50%;
}
.recommended-player-container :hover{
    background-color: white;
    color: black;
}
.singleplayer-rightpart{
    width: 750px;
}
.singleplayer-information-container{
    border: 1px solid;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    align-self: flex-start;
}
.information-header{
    display: flex;
    flex-wrap: wrap;
    background-color:cornflowerblue;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    column-gap: 20px;
    row-gap: 30px;
    padding: 20px;
    justify-content: center;
}
.information-header .field{
    display: flex;
    flex-direction: column;
    width: 170px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    font-size: 13px;
    font-weight: bold;

}
.information-header .field span:nth-child(2){
    color: rgb(239, 239, 76);
    font-size: 14px;
}
.information-content{
    padding: 20px;
    padding-top: 50px;
    padding-bottom: 70px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.singleplayer-container > .recommended-players{
    display: none;
}
.otherplayers{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 50px;
    justify-content: center;
}
.otherplayers div{
    width: 220px;
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;
    border-radius: 23px;
    cursor: pointer;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.otherplayers div span{
    position: relative;
    transition: all 0.2s ;
    top: 30px;
    padding: 0;
    margin: 0;
    font-size: 18px;
    font-weight: bold;
}
.otherplayers div img{
    width: 100%;
    border-radius: 15px;
    transition: all 0.2s;
    margin-bottom: -15px;
}
.otherplayers div:hover  img{
    transform: scaleY(0.8) scaleX(0.9) translateY(-30px);
}
.otherplayers div:hover span{
    top: -20px;
}


@media screen and (max-width:768px){
    .singleplayer-container{
        flex-direction: column;
    }
    .singleplayer-rightpart{
        width: auto;
    }
    .singleplayer-leftpart .recommended-players{
        display: none;
    }
    .singleplayer-container > .recommended-players{
        display: block;
        margin: auto;
    }
    .singleplayer-leftpart .imagecontainer{
        width: auto;
        position: relative;
    }
    .imagecontainer img{
        width: 200px;
    }
}
@media screen and (max-width:475px) {
    .otherplayers div{
        width: 150px;
        height: 150px;
    }
}
@media screen and (max-width:450px) {
    .information-header{
        flex-direction: column;
    }
    .information-header .field{
        flex-direction: row;
        width: auto;
        gap: 20px;
    }
    .information-header .field span:nth-child(1){
        width: 130px;
        flex-shrink: 0;
    }
    .information-header .field:nth-child(2){
        order: 6;
        
    }
}































