
.container {
  max-width: 124rem;
  padding: 4rem 1rem;
  margin: -100px auto 0 auto;
}

.heading {
  padding: 1rem 0;
  font-size: 3.5rem;
  text-align: center;
}

.swiper_container {
  height: 47rem;
  padding: 2rem 0;
  position: relative;
  zoom:0.7;
  position: relative;
}

.swiper_slide{
  width: 33rem;
  height: 36rem;
  position: relative;
}

.img {
  width: 30rem;
  height: 36rem;
  border-radius: 2rem;
  object-fit: cover;
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none;
}

.slider_controler {
  position: relative;
  bottom: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  margin: auto;
  top: 1px;
}
 
@media (max-width: 600px) {
  .swiper_container {
    height: 35rem;
    margin: -20px;
  }
  .swiper_slide {
    width: 15rem !important;
    height: 25rem !important;
  }
  .swiper_slide img {
    width: 15rem !important;
    height: 25rem !important;
  }
}






  